html,body {
	margin:0 auto;
	padding:0;
	font-family: sans-serif;
}

/*header*/
form{
	border-bottom: 0.1em solid;
	border-bottom-color: #ced4da;
}

form .form-control{
	border:none;
}

/*Navbar*/
.navbar li{
	margin: 0 1em;
}

.navbar li a, .nav li a {
    color: black;
}