html,body {
	margin:0 auto;
	padding:0;
}

/*header*/
.my-header a{
	color:black;
	font-size: 1.9em;
}

.my-form:focus{
  box-shadow: none;
}

form{
	border-bottom: 0.1em solid;
	border-bottom-color: #ced4da;
}

form .form-control{
	border:none;
}

/*Navbar*/
.nav-item{
	background-color: #264653;
}

.nav-item .nav-menu li a {
	border:none;
}

.nav-item > .container {
	padding: 0;
	max-width: 100%;
}