html,body {
	margin:0 auto;
	padding:0;
}

/*header*/
nav {
	border-bottom: 1px solid #f3f3f4;
}

.site-block-top-search { 
	border-bottom: 0.1rem solid;
	border-bottom-color: #ced4da; 
}
.site-navbar .icon{
	font-size:22px;
}
.site-navbar .site-logo a{
	text-transform:none;
	font-weight: 500;
	font-size: 30px;
	border: none;
}

.user-btn{
	cursor: pointer;
}

.user-btn li:hover{
	color: #3d3f45;
}

.js-menu-toggle{
	text-align:left;
}
.registration {
	background-color:#fff;
	color: #000;
}

/*single-product*/
.single-product-carousel{
	position: relative;
	bottom:0;
}
.single-product-carousel li{
	width: 100%;
}

/*footer*/
.site-footer {
	padding-bottom:0;
	padding-top: 1rem;
}

.site-footer ul li{
	margin-bottom:0;
}

.center {
	text-align: center;
}

/*queries*/

@media (min-width: 992px) {
	.site-footer {
		padding-top:0;
	}
	.site-footer .my-footer{
		padding: 2rem 3rem;
	}
	
	.site-footer ul li a{
	padding: 0.5rem 0;
	}
}

@media (max-width: 992px) {
	.back-shop {
		margin: 1.5rem 0;
	}
}

@media (min-width: 768px){
	.splitscreen .col-md-6 {
		max-width: 100%;
		padding-top:1rem;
		padding-bottom:1rem;
	}
	
	.cart-final{
		flex-direction: column;
	}
	
	.close-word {
		display:none;
	}
}

@media (min-width: 1200px){
	.my-header{
		display:flex;
		justify-content: flex-end;
	}
	
	.main-content {
		min-height: calc(100vh - 150px - 350.333px);
	}
}


@media (max-width: 768px){
	.site-.main-content-heading{
		margin-top: 5rem;
	}
	.my-icons{
		display:flex;
		justify-content: space-between;
	}
	
	/*cart*/
	.close-x {
		display:none;
	}
	
	.cart-final{
		flex-direction: row;
		justify-content: space-between;
	}
	
	.cart-final .btn.btn-sm {
		padding-left:0 !important;
	}
	
	.main-content {
		min-height: calc(100vh - 212.26px - 243.667px);
	}
}

@media (min-width: 768px) and (max-width: 1200px){
	.my-header{
		display:flex;
		justify-content: space-between;
		align-items: flex-end;
	}
}


@media (min-width: 992px) and (max-width: 1200px){
	.main-content {
		min-height: calc(100vh - 228.333px - 350.333px);
	}
}

@media (min-width: 768px) and (max-width: 992px){
	.main-content {
		min-height: calc(100vh - 228.333px - 243.667px);
	}
}